.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

venv

calendary_api/calendary_api/settings.py
vue.config.js
assets
calendary_api/calendary_api/entry/migrations

__pycache__